#Banner0_1 .banner0-text-wrapper > .banner0-content {
  font-weight: lighter;
  color: #f56a00;
  text-align: center;
}
#Banner0_1 .banner0-text-wrapper > .lewqyjhsaq-editor_css {
  display: flex;
  box-shadow: none;
}
#Banner0_1 .banner0-text-wrapper > .lews0l2kjf-editor_css {
  color: rgb(251, 251, 251);
  text-align: left;
  box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.35);
}
#Nav0_1 .ant-menu-item > .header0-item-block > .ley7sbcf1m8-editor_css {
}
#Feature2_0 .ant-row > .ant-col > .ley5rsmpcba-editor_css {
  font-size: 17px;
  width: 400px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
}
#Nav0_1.ley9wf00529-editor_css {
  background-color: #222222;
}
#Nav0_1 .header0-menu > .ant-menu > .ley9vtxpylp-editor_css {
  background-color: #222222;
}
#Nav0_1 .header0-menu > .ant-menu > .ley9icmt1y9-editor_css {
  background-color: #222222;
}
#Nav0_1 .header0-menu > .ant-menu > .ley9uy5cxm-editor_css {
  background-color: #222222;
}
#Nav0_1 .ley7qv8qxl-editor_css {
  color: rgb(9, 9, 250);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
}
#Nav0_1 .home-page > .leya0oyxhrs-editor_css {
  color: #fefeff;
  text-decoration: overline;
  opacity: 0.7;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
}
#Feature0_1 .ant-col > .content0-block-item > .leycio1i9ek-editor_css {
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
}
#Banner0_1 .lewr42hrdp-editor_css {
  display: block;
  color: #00a2ae;
}
#Banner0_1 .banner0-text-wrapper > .lewr5h422oi-editor_css {
  background-clip: padding-box;
  cursor: null;
  font-family: 'Arial Black';
  font-weight: lighter;
  color: rgb(255, 191, 0);
  letter-spacing: 1px;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  text-shadow: 10px 5px 5px rgba(0, 0, 0, 0.35);
}
#Content11_0 div > .leyd5aorb2o-editor_css {
  background-clip: padding-box, padding-box;
  background-image: linear-gradient(to right, 0%, rgb(30, 90, 255) 100%);
}
#Feature2_0 .ant-row > .ant-col > .ley5t36pcs-editor_css {
  color: rgb(191, 191, 191);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
}
#Feature1_0 .ant-row > .ant-col > .leyez1yqgds-editor_css {
  color: rgb(191, 191, 191);
  overflow: hidden;
}
#Feature1_0 .ant-row > .ant-col > .leyezlen46m-editor_css {
  font-family: 'Microsoft YaHei';
  font-weight: bold;
  color: rgb(117, 223, 238);
  text-shadow: 5px 5px 13px rgba(0, 162, 174, 0.36);
}
#Feature2_0 .ant-row > .ant-col > .ley5wbcytj-editor_css {
  font-family: 'Microsoft YaHei';
  font-weight: bold;
  color: rgb(117, 223, 238);
  text-shadow: 5px 5px 13px rgba(0, 162, 174, 0.36);
  transition: color 0s ease-in 0s;
}
#Banner0_1.lewqwr2v3d7-editor_css {
  color: rgb(117, 223, 238);
  background-color: rgb(10, 10, 10);
  background-attachment: fixed;
  background-blend-mode: normal;
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  background-clip: padding-box;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
}
#Feature0_1 .home-page > div > .leyc8xmoyv-editor_css {
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0);
}
#Feature0_1 .ant-col > .content0-block-item > .leyc9kxiqe-editor_css {
  font-size: 15px;
  color: rgb(191, 191, 191);
  text-shadow: 5px 5px 13px rgba(0, 162, 174, 0.36);
}
#Feature0_1 .ant-col > .content0-block-item > .leyc9twhdyg-editor_css {
  font-size: 15px;
  color: rgb(191, 191, 191);
  text-shadow: 5px 5px 13px rgba(0, 162, 174, 0.36);
}
#Feature0_1 .ant-col > .content0-block-item > .leyc9297a9k-editor_css {
  font-size: 15px;
  color: rgb(191, 191, 191);
  text-shadow: 5px 5px 13px rgba(0, 162, 174, 0.36);
}
#Feature2_0 .ant-row > .lezcg15pgpt-editor_css {
  background-clip: padding-box;
}
#Feature1_0 .ant-row > .ant-col > .leyeynwb1mj-editor_css {
  width: 280px;
  opacity: 0.96;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0);
}
#Content11_0.leyd69i46is-editor_css {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(
      to bottom,
      #000000 0%,
      rgba(19, 18, 18, 0.7) 100%
    ),
    url('https://saarbk.github.io/Saarbk_banner_image_for_website_f3af5c90-855e-475b-8656-f1bcde70286f.png'),
    url('https://pitch-assets.imgix.net/c5abfc43-83d3-4225-ab3b-ac65de0f3767?pitch-bytes=620077&pitch-content-type=image%2Fpng&w=2666&h=1500&fit=max&auto=format&q=100');
  background-attachment: scroll, scroll, fixed;
  background-blend-mode: normal, screen, normal;
  background-position: 0% 0%, 0% 0%, 0% 0%;
  background-repeat: repeat, repeat, repeat-x;
  background-size: auto, auto, auto;
  background-clip: padding-box, border-box, border-box, padding-box;
}
#Content11_0 .title-wrapper > .lezh04daxwp-editor_css {
  color: #75dfee;
}
#Footer2_0 .home-page > .links > .lezhbaipvys-editor_css {
  height: 50px;
}
#Footer2_0 .lezh9qwra4-editor_css {
  background-color: #000000;
}
#Content11_0 .title-wrapper > .lezh03n863l-editor_css {
  color: rgb(117, 223, 238);
}
#Footer2_0 .home-page > .copyright > .lezh90jkro-editor_css {
  color: #75dfee;
}
#Feature1_0 .leyexg4uwts-editor_css {
  max-width: 1300px;
  background-color: rgb(46, 46, 46);
  background-image: url('https://zos.alipayobjects.com/rmsportal/gGlUMYGEIvjDOOw.jpg');
  background-attachment: scroll;
  background-blend-mode: normal;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  background-clip: padding-box;
}
#Feature2_0 .ley5u9wsk2-editor_css {
  width: 100%;
  max-width: 1300px;
  background-color: rgba(46, 46, 46, 0.95);
  background-image: url('https://zos.alipayobjects.com/rmsportal/gGlUMYGEIvjDOOw.jpg');
  background-attachment: scroll;
  background-blend-mode: normal;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.35);
}
#Feature0_1 .leyc9zxqwvd-editor_css {
  max-width: 1300px;
  position: static;
  background-image: url('https://zos.alipayobjects.com/rmsportal/gGlUMYGEIvjDOOw.jpg');
  background-attachment: local;
  background-blend-mode: normal;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  background-clip: padding-box;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0);
}
#Feature0_1 .home-page > .title-wrapper > .leyc7c2b4r-editor_css {
  font-family: 'Microsoft YaHei';
  font-weight: bold;
  color: rgb(117, 223, 238);
  text-shadow: 5px 5px 13px rgba(0, 162, 174, 0.36);
  transition: width 2s ease 0s;
}

@media screen and (max-width: 767px) {
  #Feature0_1 .home-page > .title-wrapper > .leyc7c2b4r-editor_css {
    font-family: 'Microsoft YaHei';
    font-weight: bold;
    color: rgb(117, 223, 238);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
    transition: width 2s ease 0s;
  }
}
